@import "./reset.css";

:root {
  --color-main: #fefae0;
  --color-accent-1: #d4a373;
  --color-accent-1-lt: #faedcd;
  --color-accent-2: #ccd5ae;
  --color-accent-2-lt: #e9edc9;
}

body {
  min-height: 100vh;
  position: relative;
}

/* HEADER */

header {
  min-height: 100px;
  background-color: #023047;
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* display: grid; */
  /* grid-template-columns: 350px 1fr; */
  /* grid-template-areas: "h1 search-actions"; */
}

header>h1 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
  /* margin-left: 32px; */
  /* margin-right: auto; */
  /* grid-area: h1; */
}

header>.action-group {
  display: flex;
  gap: 5px;
  /* margin-right: 52px; */
  grid-area: search-actions;
  /* display: grid; */
  /* grid-template-columns: 80% 1fr 1fr; */
  /* grid-template-areas: "search button1 button2"; */
}

header>.action-group>* {
  flex: 1;
}

header>.action-group>input {
  border-radius: 2px;
  width: 80%;
  justify-self: center;
  grid-area: search;
  flex: 3;
}

header>.action-group>button:first-of-type {
  grid-area: button1;
}

header>.action-group>button:last-of-type {
  grid-area: button2;
}

/* Content */

.books-wrapper {
  padding: 16px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1078px) {
  .books-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}


.book {
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
  padding: 16px 16px 5px;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  margin-top: 2px;
  margin-left: 2px;
}

.book>.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.book>.author {
  font-weight: bold;
  margin-bottom: 16px;
}

.book>span {
  margin-bottom: 15px;
  display: inline-block;
}

@media screen and (min-width: 1078px) {
  .book>.title {
    font-size: 1.5rem;
    margin-bottom: 16px
  }

  .book>.author {
    font-size: 1.15rem;
    margin-bottom: 48px;
  }
}

.book>.status-slider {
  margin-left: auto;
}

.book>.action-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.status-slider {
  width: 50px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: pink;
  cursor: pointer;
}

.slider-indicator {
  width: 23px;
  height: 23px;
  background-color: black;
  border: 1px solid lightgrey;
  border-radius: 100%;
  transition: margin-left 0.25s ease-in-out;
}

.status-slider.read .slider-indicator {
  margin-left: 50%;
}

.status-slider.read {
  background-color: greenyellow;
}





/* MODAL */

.add-book-modal {
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  height: 0%;
  max-height: 0;
  z-index: 5;
  bottom: 0;
  left: 0;

  display: hidden;
  transition: height 0.5s ease-in-out;
}

.add-book-modal.active {
  height: 100%;
  max-height: 100vh;
  display: flex;
  padding: 0 16px;
}

.add-book-modal form {
  background-color: #Fff;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  min-height: 50%;
  flex: 1;
  transform: translateY(100%);
  transition: transform 1.05s ease-in-out;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-book-modal.active form {
  display: flex;
  visibility: visible;
  transform: translateY(0);

}

fieldset {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .add-book-modal form {
    flex: unset;
    width: 50%;
    min-height: unset;
  }
}

@media screen and (min-width: 1100px) {
  .add-book-modal form {
    max-width: 534px;
  }

}

.form-radio {
  display: flex;
  justify-content: space-around;
}

.radio-group {
  margin-bottom: 16px;
}

.radio-group>input,
.radio-group>label {
  cursor: pointer;
}

legend {
  font-weight: bold;
  margin: 0 auto;
  font-size: 1.25rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input:not(:last-of-type) {
  margin-bottom: 16px;
}

.form-input>input {
  font-size: 1.15rem;
  padding: 5px;
  border: none;
  background-color: #d4a373;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 8px;
  border-radius: 5px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.25rem;
}


input[type="number"] {
  margin-bottom: 20px;
}

/* Buttons */

.btn-base {
  border: none;
}

.add-book-modal .btn-add {
  background: linear-gradient(rgb(234, 88, 12),
      rgba(234, 88, 12, 1) 0%,
      rgba(255, 168, 0, 1) 35%,
      rgba(234, 88, 12, 1) 100%);
  display: flex;
  /* width: 80%; */
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.24);
}

.btn-add span {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #292524;
}

.btn-add img {
  width: 25px;
  height: 25px;
}

.btn-new-entry {
  max-width: 200px;
  margin: 16px auto 0 0;
}

.btn-delete {
  width: 35px;
  height: 35px;
  background: url("./assets/images/delete.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.btn-delete:hover {
  background: url("./assets/images/delete-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.book .btn-delete {
  margin-left: -11px;
}