@import "./reset.css";

:root {}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "sidebar content"
    "sidebar content"
}

.sidebar {
  grid-area: sidebar;
  background-color: black;
}

.content {
  border: 1px solid blue;
  grid-area: content
}